.success-screen {
    background-image: linear-gradient(to bottom, #1463c2, #4b0484, #4b0484);
}
.star1 {
    transform: translate(0rem, 0rem) rotate(-15deg);
}
.star2 {
    transform: translate(0rem, -2rem);
}
.star3 {
    transform: translate(-0rem, 0rem) rotate(15deg);
}